* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Nunito Sans";
  width: 80%;
  margin: 0 auto;
  color: #fff;
  max-width: 1240px;
  background: linear-gradient(to top, #3023ae, #53a0fd);
  background-repeat: no-repeat;
  background-attachment: fixed; }

#complete-delete--section {
  text-align: right;
  padding-top: 6em; }

.comp-del--buttons {
  font-family: "Nunito Sans";
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  padding-left: 3em;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

#section--input {
  padding: 1em 0 2em 0; }

input[type=text] {
  border: none;
  background: transparent;
  padding: 0.2em 0 0.2em 0;
  font-size: 3em;
  font-family: "Nunito Sans";
  font-weight: 200;
  letter-spacing: normal;
  color: #fff;
  caret-color: #fff;
  outline: none; }

input[type=text]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  opacity: 0.3; }

input[type=text]::-moz-placeholder {
  /* Firefox 19+ */
  color: pink; }

input[type=text]:-ms-input-placeholder {
  /* IE 10+ */
  color: pink; }

input[type=text]:-moz-placeholder {
  /* Firefox 18- */
  color: pink; }

li {
  list-style: none;
  padding: 0.5em 0 0.5em 0;
  font-size: 1.6em;
  font-weight: 100;
  opacity: 0.8;
  letter-spacing: normal; }

.single--item {
  transition: 0.5s; }

.single--item:hover {
  transform: translateX(10px); }

.complete--button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 2.5em;
  font-size: 0.2em; }

.delete {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 0.4em; }

.delete:hover::before, .delete:hover::after {
  background: #fff;
  opacity: 1; }

.delete::before, .delete::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #efefef;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer; }

.delete::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.delete::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.delete.rounded::before, .delete.rounded::after {
  border-radius: 5px;
  margin-top: 0px; }

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #eee; }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/*# sourceMappingURL=style.css.map */
