ul, li {
    list-style: none;
    padding:1%;
    margin: 1%;
    font-size: 1.2em;
}

.done {
    color: grey;
    text-decoration: line-through;
}

.normal {
    color: black;
    text-decoration: none;
}

.white {
    color: white;
    text-decoration: none;
}
