$font-family: Avenir;
$white: #fff;
$main-font-size: 1em;

// general styling for the body
* {
	margin: 0;
	padding: 0;
	// position: relative;
}

html {
	height: 100%;
	// background: linear-gradient(to top, #3023ae, #53a0fd);
	// background-repeat: no-repeat;
}

body {
	margin: 0;
  	padding: 0;
  	height: 100%;
	font-family: $font-family;
	width: 80%;
	margin: 0 auto;
	color: $white;
	max-width: 1240px;
	background: linear-gradient(to top, #3023ae, #53a0fd);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


// style the date section
#section--current-date {
	padding-top: 5em;
	width: 100%;
	// border: 1px solid black;
	text-align: right;
	p {
		font-weight: 200;
		opacity: 0.8;
		font-size: 24px;
	}
}



// complete and delete all buttons
.main-buttons {
	border: 2px solid $white;
	padding: 1em 2em;
	border-radius: 0.5em;
	margin-right: 2em;
	cursor: pointer;
	font-size: 1.1 * $main-font-size;
	background: transparent;
	color: $white;
}


// styling the input section
#section--input {
	padding: 1em 0 2em 0;
}


input[type=text] {
	border: none;
	background: transparent;
	padding: 0.2em 0 0.2em 0;
	font-size: 48px;
	// font-size: 2.2 * $main-font-size;
	font-weight: 200;
	letter-spacing: normal;
	color: $white;
	caret-color: $white;
}

input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: $white;
  	opacity: 0.3;
  	// font-weight: normal;
}

input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}

input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}

input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: pink;
}



// style the list section
li {
	list-style: none;
	padding: 0.5em 0 0.5em 0;
	font-size: 1.5 * $main-font-size;
	font-weight: lighter;
	opacity: 0.8;
	// display: inline-block;
	// border: 1px solid black;
}

.single--item {
	transition: 0.5s;
}

.single--item:hover {
	transform: translateX(10px);
}
.complete--button {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 2.5em;
	font-size: 0.2em;
}

// delete button
// https://codepen.io/ndeniche/pen/ljbDL - used from codepen
.delete {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  // overflow: hidden;
  margin-left: 0.4em;
  // border: 1px solid black;
}
.delete:hover::before, .delete:hover::after {
  background: $white;
  opacity: 1;
}
.delete::before, .delete::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #efefef;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}
.delete::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.delete::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

// .delete.thick::before, .delete.thick::after {
//   height: 4px;
//   // margin-top: 5px;
// }

.delete.rounded::before, .delete.rounded::after {
  border-radius: 5px;
  margin-top: 0px;
}


