body {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
}

.checked {
    text-decoration: line-through;
    color: darkgrey;
}

.input-make-button {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.complete-delete-buttons {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.complete {
    margin-right: 5px;
}

.delete {
    margin-right: 5px;
}

#todo-input {
    padding: 10px;
}