#todo-list {
    list-style-type: none;
    padding-left: 0;
    width: 300px;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: #f1f1f1;
}

.todo-remove {
  float: right;
  display: none;
}

li:hover .todo-remove {
  display: block;
}

.todo-checked, .todo-checked:hover {
  background-color: #d4f9d6;
  text-decoration: line-through;
  color: green;
}