
*, *:before, *:after {
    box-sizing: border-box;
}
html, input, button {
    -webkit-font-smoothing: anti-aliased;
    -moz-osx-font-smoothing:greyscale;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    font-size:62.5%;
}
html, body {
    /*height: 100%;*/
}
html {
    /*color:#6c7a89;*/
    padding-bottom:5rem;
}
.app {
    width:90%;
    padding:5rem auto 10rem;
    margin:0 auto;
    
}
h1 {
    font-size: 5rem;
    text-align: center;
    color:#6c7a89;
}
input, button {
    box-sizing: border-box;
    padding:1.5rem 2rem;
    font-size: 2rem;
    border:none;
    outline: none;
}
input {
    
    width:60%;
    /*border-bottom:2px solid #000;*/
    /*transition:all 400ms ease-in-out;*/
}
input:focus {
    /*border-bottom:2px solid #6c7a89;*/
}
.addBtn {
    width: 10rem;
    background:#6c7a89;
    color:#fff;
    box-shadow:0px 5px 30px #999;
    transition:all 400ms ease-in-out;
    float: right;
}
.addBtn:hover {
    box-shadow: 0px 15px 30px #999;
}
#todo-list {
    margin-top:3rem;
    padding:0;
    transition:all 400ms ease-in-out;
}
#todo-list li {
    list-style: none;
    padding:2rem;
    /*margin-bottom:1rem;*/
    font-size: 2rem;
    font-weight: 500;
    background:#fff;
    box-shadow:0px 10px 25px #bbb;
    border:1px solid #f5f5f5;
    transition:all 400ms ease-in-out;
    /*border-radius:3px;*/
}
#todo-list li:hover {
    box-shadow:0px 10px 25px #bbb;
    margin:2rem 0;
}
#todo-list li a {
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .app {
        width:50%;
        
    }
}