html, input, button {
    -webkit-font-smoothing: anti-aliased;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    
}
html {
    color:#6c7a89;
}
.app {
    box-sizing:border-box;
    width:90%;
    padding:5rem auto 10rem;
    margin:0 auto;
    
}
h1 {
    font-size: 5rem;
    text-align: center;
    /*color:#6c7a89;*/
}
input, button {
    box-sizing: border-box;
    padding:1.5rem 2rem;
    font-size: 1.5rem;
    border:none;
    outline: none;
}
input {
    
    width:60%;
    /*border-bottom:2px solid #000;*/
    /*transition:all 400ms ease-in-out;*/
}
input:focus {
    /*border-bottom:2px solid #6c7a89;*/
}
.addBtn {
    width: 10rem;
    background:#6c7a89;
    color:#fff;
    box-shadow:1px 5px 30px #999;
    transition:all 400ms ease-in-out;
    float: right;
}
.addBtn:hover {
    box-shadow: 1px 15px 30px #999;
}
#todo-list {
    margin-top:3rem;
    padding:0;
    transition:all 400ms ease-in-out;
}
#todo-list li {
    list-style: none;
    padding:1.75rem 2rem;
    margin-bottom:.75rem;
    font-size: 1.5rem;
    font-weight: 500;
    background:#fff;
    box-shadow:1px 3px 10px #bbb;
    border:1px solid #f9f9f9;
    transition:all 400ms ease-in-out;
    /*border-radius:3px;*/

}
#todo-list li:hover {
    box-shadow: 1px 8px 25px #bbb;
    /*padding:3rem 2rem;*/
}

@media only screen and (min-width: 1024px) {
    .app {
        width:50%;
        
    }
}