.deleteIcon{
    position: relative;
    top: -2px;
    cursor: pointer;
    color: red;
    opacity: 0.7;
    font-size:16px;
    transition: all 0.10s linear;
}

.deleteIcon:hover{
    opacity: 1;
}

.mDeleteIcon{
    font-size: 50px
}

.mTitle{
    font-size: 50px
}

.mCheckbox {
    width:30px;
    height:30px;
}


