.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.completeAllButton {
  display: inline;
  float: right;
  margin-right: 10%;
  margin-bottom: 5%;
}

.createTask {
  display: inline;
  float: left;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.Todos-list{
  display: inline;
  float: left;
  margin-top:5%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
