a, a:visited, a:focus {
    text-decoration: none;
}

.skip-link {
    position: relative;
    bottom: 300px;
}

.bulk-action-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
