* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 auto;
  background: red;
  width: 50%;

  input {
    outline: 0;
    border: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;

    li {
      background: grey;
      border: 1px solid white;

    }
  }
}
